{% extends "base.html.twig" %}

{% block title %}Portfolio - Accueil
{% endblock %}

{% block body %}
	<div class="mx-auto px-8">

		{# Présentation brève RESPONSIVE#}
		<section id="accueilPhoto" class="pb-20" data-aos-id-presentation>
			<main class="grid lg:grid-cols-2 place-items-center md:pt-12">
				<div class="hidden md:py-6 md:order-1 md:flex md:w-72" data-aos="fade-down" data-aos-anchor="[data-aos-id-testimonial]">
					<picture class="flex h-full">
						<img src="images/photoface/moi.webp" class="rounded-3xl" alt="Photo Hamdaoui Rayan" sizes="(max-width: 800px) 100vw, 620px" width="520" height="424" decoding="async">
					</picture>
				</div>
				<div class="text-balance">
					<div class="grid justify-items-start" data-aos="fade-down" data-aos-anchor="[data-aos-id-testimonial]" data-aos-delay="200">
						<h2 class="text-xl md:text-2xl mt-4 text-slate-600 max-w-xl">Bonjour, je m'appelle
						</h2>
						<h1 class="text-3xl font-bold lg:tracking-tight xl:tracking-tighter">
							Hamdaoui Rayan
						</h1>
					</div>
					<p class="text-md md:text-lg mt-4 text-slate-600 max-w-xl" data-aos="fade-down" data-aos-anchor="[data-aos-id-testimonial]" data-aos-delay="400">
						et bienvenue dans mon espace personnel, mon portfolio !
					</p>
					<div class="mt-6 md:flex md:justify-around block" data-aos="fade-down" data-aos-anchor="[data-aos-id-testimonial]" data-aos-delay="600">
							<button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
								<a href="#a-propos">Qui suis-je ?</a>
							</button>
							<button type="button" class="text-white bg-green-700 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
								<a href="#parcours">Voir mon parcours</a>
							</button>
					</div>
				</div>
			</main>

			<div class="flex justify-center items-center mt-12 mb-12">
				<hr class="absolute w-4/5">
				<div class="flex space-x-6 bg-white rounded-full shadow-md px-6 py-6 z-40 ">
					<div class="text-center">
						<h4 class="text-md font-semibold md:text-2xl text-gray-900">École</h4>
						<p class="text-sm md:text-lg text-gray-500">Charles Peguy</p>
					</div>
					<div class="border-l border-gray-300"></div>
					<div class="text-center">
						<h4 class="text-md font-semibold md:text-2xl text-gray-900">Formation</h4>
						<p class="text-sm text-gray-500 md:text-lg">2TS SIO</p>
					</div>
				</div>
			</div>
		</section>

		{# A propos RESPONSIVE#}
		<section id="a-propos" class="md:my-7 mb-12">
			<h4 class="text-lg text-balance md:flex md:justify-end md:text-2xl font-bold text-gray-700 pb-6">Et si on se penchait plus sur moi ?</h4>
			<div class="md:gap-8 md:pb-20 flex gap-0">
				<div class="md:w-full w-72"></div>
				<div class="w-full">
					<h2 class="md:text-2xl md:text-end text-xl font-semibold italic text-gray-800">
						HAMDAOUI Rayan
					</h2>
					<div class="text-sm md:text-lg md:text-center md:mt-4 text-balance italic text-gray-600">
						<p class="mb-6">
							Jeune étudiant passionné par l'informatique et le développement web, je souhaite utiliser mes compétences afin d'en faire usage dans le monde professionnel.
						</p>
						<p class="mb-6">
							Actuellement, je suis un étudiant en 2ème année de BTS SIO au lycée Charles Peguy. Mon objectif premier est d'obtenir mon diplôme à la fin de l'année et de poursuivre vers une licence professionnelle en entrant dans le monde du travail.
						</p>
						<p>
							Je développe mes compétences dans l'utilisation de diverses technologies et frameworks, notamment les outils de développement et les bases de données.
						</p>
					</div>
				</div>
			</div>
		</section>

		{# Parcours RESPONSIVE#}
		<section id="parcours" class="md:my-7 my:10">
			<h4 class="text-lg text-balance md:flex md:justify-start md:text-2xl font-bold text-gray-700 pb-6">Comment j'en suis arrivé là ...</h4>
			<div class="grid gap-x-2 gap-y-10 grid-cols-2 md:pb-20">
				<div class="w-full">
					<div class="md:flex md:gap-4 md:items-start">
						<div>
							<h2 class="md:text-xl md:text-start md:text-pretty text-xl font-semibold italic text-gray-800">Lycée Polyvalent Don Bosco - 2020/2023</h2>
							<div class="text-slate-500 mt-2 leading-relaxed flex flex-col items-center text-balance text-center">
								<p>Seconde générale</p>
								<p>⬇️</p>
								<p>Première STI2D</p>
								<p>⬇️</p>
								<p>Réorientation en Bac Professionnel Systèmes Numériques</p>
								<p>⬇️</p>
								<p>Obtention du Bac Pro avec mention Assez Bien (2023)</p>
							</div>
						</div>
					</div>
				</div>
				<div class="w-full flex items-center">
					<div class="mt-1 rounded-full p-2 w-fit">
						<img src="images/ecole/logoDonBosco.png" class="rounded-3xl" alt="Photo don bosco" decoding="async">
					</div>
				</div>
				<div class="w-full flex items-center">
					<div class="mt-1 rounded-full p-2 md:w-8/12 w-full">
						<img src="images/ecole/peguy.webp" class="rounded-3xl" alt="Photo Charles Peguy" decoding="async">
					</div>
				</div>
				<div class="w-full">
					<div class="flex gap-4 items-start">
						<div>
							<h3 class="font-semibold flex justify-center pb-6 md:text-xl text-balance text-lg">Lycée et Enseignement Supérieur, Charles Peguy</h3>
							<div class="text-slate-500 mt-2 leading-relaxed flex flex-col items-center text-balance text-center">
								<p>1TS SIO</p>
								<p>⬇️</p>
								<p>2TS SIO (Option SLAM)</p>
								<p>⬇️</p>
								<p>? Licence pro ?</p>
						</div>
					</div>
				</div>
			</div>
		</section>

		{# Découvrez le BTS SIO RESPONSIVE#}
		<div class="flex justify-center items-center py-12">
			<hr class="absolute w-4/5">
			<div class="flex space-x-6 bg-white rounded-full shadow-md px-6 py-6 z-40 ">
				<div class="text-center">
					<a href="{{ path ('app_sio') }}" class="md:text-2xl text-lg font-semibold text-blue-700">Découvrez le BTS SIO</a>
				</div>
			</div>
		</div>

		{# Suite framework #}
		<div class="mt-18">
			<h2 class="text-center text-slate-500">Framework Symfony, tailwindcss, à faire pour finir la page</h2>
			<div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">
				<svg width="1em" height="1em" viewbox="0 0 24 24" class="size-8 md:size-16" data-icon="simple-icons:tailwindcss">
					<symbol id="ai:simple-icons:tailwindcss">
						<path fill="currentColor" d="M12.001 4.8q-4.8 0-6 4.8q1.8-2.4 4.2-1.8c.913.228 1.565.89 2.288 1.624C13.666 10.618 15.027 12 18.001 12q4.8 0 6-4.8q-1.8 2.4-4.2 1.8c-.913-.228-1.565-.89-2.288-1.624C16.337 6.182 14.976 4.8 12.001 4.8m-6 7.2q-4.8 0-6 4.8q1.8-2.4 4.2-1.8c.913.228 1.565.89 2.288 1.624c1.177 1.194 2.538 2.576 5.512 2.576q4.8 0 6-4.8q-1.8 2.4-4.2 1.8c-.913-.228-1.565-.89-2.288-1.624C10.337 13.382 8.976 12 6.001 12"></path>
					</symbol>
					<use xlink:href="#ai:simple-icons:tailwindcss"></use>
				</svg>
			</div>
		</div>

		
	</div>
{% endblock %}
