{% extends "base.html.twig" %}

{% block title %}Page d'accueil
{% endblock %}

{% block body %}
	Vous êtes bien sur la page d'accueil
	<div style="margin-top:15px;"></div>

	<input type="text" id="search" name="search" placeholder="Rechercher un article">

{% endblock %}
