{% extends "base.html.twig" %}

{% block title %}Compétences{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('competence') }}
{% endblock %}

{% block body %}   
    <div class="bg-white">
      <div class="mx-auto grid max-w-screen grid-cols-1 items-center gap-x-8 gap-y-16 py-12 lg:grid-cols-2">
        <div>
          <h2 class="text-lg font-bold tracking-tight text-gray-900 sm:text-4xl">Compétences Techniques & Humaines</h2>
          <p class="mt-4 text-gray-500">Les principales compétences techniques (Hard Skills) et mes qualités professionnelles (Soft Skills) acquises durant mes études et mes différentes expériences professionnelles</p>
  
          <dl class="mt-16 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 sm:gap-y-16 lg:gap-x-8">
            <div class="border-t border-gray-200 pt-4">
              <dt class="font-medium text-gray-900">Développement Full-Stack</dt>
              <dd class="mt-2 text-sm text-gray-500">Symfony, TailwindCSS, JavaScript, PHP</dd>
            </div>
            <div class="border-t border-gray-200 pt-4">
              <dt class="font-medium text-gray-900">Gestion des bases de données</dt>
              <dd class="mt-2 text-sm text-gray-500">MySQL, Doctrine</dd>
            </div>
            <div class="border-t border-gray-200 pt-4">
              <dt class="font-medium text-gray-900">Versioning</dt>
              <dd class="mt-2 text-sm text-gray-500">Git, GitHub, GitLab</dd>
            </div>
            <div class="border-t border-gray-200 pt-4">
              <dt class="font-medium text-gray-900">Déploiement (local)</dt>
              <dd class="mt-2 text-sm text-gray-500">Wamp, Xamp, Laragon</dd>
            </div>
            <div class="border-t border-gray-200 pt-4">
              <dt class="font-medium text-gray-900">Sécurité & Authentification</dt>
              <dd class="mt-2 text-sm text-gray-500">EasyAdmin, SHA256</dd>
            </div>
            <div class="border-t border-gray-200 pt-4">
              <dt class="font-medium text-gray-900">Esprit d’analyse</dt>
              <dd class="mt-2 text-sm text-gray-500">Résolution de problèmes, adaptabilité</dd>
            </div>
            <div class="border-t border-gray-200 pt-4">
              <dt class="font-medium text-gray-900">Travail en équipe</dt>
              <dd class="mt-2 text-sm text-gray-500">Slack</dd>
            </div>
            <div class="border-t border-gray-200 pt-4">
              <dt class="font-medium text-gray-900">Gestion de projet</dt>
              <dd class="mt-2 text-sm text-gray-500">Monday, Slack, GitLab, Notion, Miro</dd>
            </div>
          </dl>
        </div>
        <div class="grid grid-cols-2 grid-rows-2 gap-4 sm:gap-6 lg:gap-8">
            <img src="{{ asset('/assets/images/gestion_projet/Miro1.png') }}" alt="Gestion de projet (Slack, Monday, Miro, GitLab)" class="rounded-lg bg-gray-100">
          <img src="" alt="Illustration 2" class="rounded-lg bg-gray-100">
          <img src="" alt="Illustration 3" class="rounded-lg bg-gray-100">
          <img src="" alt="Illustration 4" class="rounded-lg bg-gray-100">
        </div>
      </div>
    </div>

{% endblock %}
