@keyframes hr-style {
    0% {
        width: 0%;
        opacity: 0;
    }
    50% {
        width: 40%;
        opacity: 0.5;
    }
    100% {
        width: 80%;
        opacity: 1;
    }
}

.hr-style {
    animation: hr-style 1.5s linear forwards;
    height: 3px;
    background: gray;
    background: linear-gradient(to right, #1d4ed8, #16a34a, #1d4ed8);
}

@keyframes formation {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.formation {
    animation: formation 1s linear forwards;
}