<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Mon Blog !
			{% endblock %}
		</title>

		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
		{% block stylesheets %}
			<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
		{% endblock %}

		{% block javascripts %}
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
			<script src="../assets/js/article.js"></script>
		{% endblock %}

	</head>
	<body
		class="font-sanstext-gray-800bg-gray-100overflow-x-hidden" id="body">
		{# Navbar #}
		{% include 'navbar.html.twig' %}

		{# Main content #}
		<div class="main-content p-8 w-11/12 mx-auto my-8 bg-white border border-gray-200 rounded-lg shadow-lg"> {% block body %}{% endblock %}
			</div>

			{# Footer #}
			{% include 'footer.html.twig' %}
		</body>
	</html>
