<footer class="text-center p-6 bg-gray-900 text-white">
	<ol class="list-none p-0 flex justify-center space-x-4">
		<li>
			<a href="{{ path('app_accueil') }}" class="text-blue-400 hover:text-blue-300 transition duration-300 ease-in-out transform hover:scale-110 hover:rotate-3">Accueil</a>
		</li>
		<li>
			<a href="{{ path('app_article') }}" class="text-blue-400 hover:text-blue-300 transition duration-300 ease-in-out transform hover:scale-110 hover:rotate-3">Nos articles</a>
		</li>
	</ol>
</footer>
